# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pengbook
DB_PORT=5432
DB_SSLMODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis

# API
API_PORT=8080
JWT_SECRET=pengbook-redis-secret
